
button{
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(186, 194, 41);
    color: white;
    margin-bottom: 10px;
}
button:hover{
    background-color: white;
    color: rgb(188, 206, 25);
}

h1{
    font-size: 50px;
    color: rgb(237, 4, 4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}